//
//body {
//-moz-transform:scale(1，1); /* Firefox */
//-webkit-transform:scale(1，1); /* Safari and Chrome */
// 出现目录和顶部锚点绝对定位BUG
//}

// 导航栏 active 背景色
.menu .menu-item a:hover,
.menu-item-active a {
  background: #eee;
  border-bottom-color: #fff;
}

.fontred {
  color:red;
}

@media screen and (max-width: 414px) {
ul,li{ margin:0; padding:0;  }
}


a {
target:_blank
}

body {
  background-color: #F3F1E9;
}
// 文章内容容器宽度修改 主题：Pisces


/* 偏移bug
header{ width: 80%; }
.container .main-inner { width: 50%; }
.content-wrap { width: calc(100% - 260px); }
*/

// 点击折叠显示内容

.fold_hider{
  //float:left;
}

.hider_title{
      font-family: "Microsoft Yahei";
      cursor: pointer;
      font-size: 20px;
}
.close:after{
    content: "▼";
    color: blue;
}
.open:after{
    content: "▲";
    color: red;
}

// 网易云音乐单曲iframe容器
div.parent {
    display: flex;
    width: 100%;
    height: 1px;
    //background-color: red;
    align-items: center;
    justify-content: center;
    margin-bottom:120px;
    margin-top:80px;
}

div.child {
    margin:20px auto;
    width: 320px;
    height: 86px;
    //background-color: black;
}

// 网易云音乐歌单iframe容器
div.parentset {
    display: flex;
    width: 100%;
    height: 230px;
    //background-color: red;
    align-items: center;
    justify-content: center;
    margin-bottom:200px;
    margin-top:180px;
}

div.childset {
    margin:20px auto;
    width: 420px;
    height: 450px;
  //background-color: black;
}

// 主页文章添加阴影效果
/*
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
*/
// Custom styles.
code {
    color: #fdfcf8;
    background: #2d2d2d;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}
/* code end*/

/* h1-h6 start*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

/* h1-h6 end*/
